---
import HeadedPage from "../layouts/HeadedPage.astro";
import Section from "../components/Section.astro";

const title = "Marc Ferreiro Portfolio";
---

<HeadedPage title={title}>
  <Section>
    <h1>Home</h1>
  </Section>
</HeadedPage>
