---
import Logo from "./svgs/Logo.astro";
import NavBar from "./NavBar.astro";
import SocialBar from "./SocialBar.astro";
---

<div
  class="flex flex-row z-10 w-full items-center justify-between font-mono text-sm"
>
  <a href="/">
    <Logo />
  </a>
  <div class="flex gap-4 items-center">
    <NavBar />
    <div class="w-0.5 h-3 bg-black"></div>
    <div class="flex flex-row gap-6">
      <SocialBar />
    </div>
  </div>
</div>
