---
const { class: componentClasses } = Astro.props;
---

<section
  class:list={[
    "h-screen w-screen xl:pt-20 xl:pl-32 xl:pr-32 xl:pb-32 lg:pt-20 lg:pl-32 lg:pr-32 lg:pb-32 md:pt-20 md:pl-28 md:pr-28 md:pb-28 sm:pt-16 sm:pl-16 sm:pr-16 sm:pb-16 pt-20 pl-8 pr-8 pb-8 flex flex-grow-0 flex-shrink-0",
    componentClasses,
  ]}
>
  <slot />
</section>
