---
import Github from "./svgs/Github.astro";
import Linkedin from "./svgs/Linkedin.astro";
---

<a
  class="pointer-events-auto lg:p-0"
  href="https://github.com/markferreiro"
  target="_blank"
  rel="noopener noreferrer"
>
  <Github />
</a>
<a
  class="pointer-events-auto lg:p-0"
  href="https://github.com/markferreiro"
  target="_blank"
  rel="noopener noreferrer"
>
  <Linkedin />
</a>
