---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<Main title={title}>
  <main
    class="px-5 flex flex-col items-center justify-start bg-gradient-to-br from-gradient2From to-gradient2To"
  >
    <div class="fixed w-screen flex justify-center items-center py-7 px-32">
      <Header />
    </div>
    <slot />
  </main>
</Main>
