---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<style>
  .header {
    background-color: transparent;
    animation: adjust-progressbar auto linear;
    animation-range: 50px 180px;
    animation-fill-mode: forwards;
    animation-timeline: scroll();
  }

  @keyframes adjust-progressbar {
    to {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: white;
    }
  }
</style>

<Main title={title}>
  <main class="px-5 flex flex-col items-center justify-start">
    <div
      class="header z-10 fixed w-screen flex justify-center items-center py-7 md:px-32 px-10 xl:pl-32 xl:pr-32 lg:pl-32 lg:pr-32 md:pl-28 md:pr-28 sm:pl-16 sm:pr-16 pl-8 pr-8"
    >
      <Header />
    </div>
    <slot />
  </main>
</Main>
